* {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(43, 43, 43);
    margin: 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 0.5rem;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
}

th, td {
    border:  1px solid gainsboro;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    width: 11rem;
}

th {
    color: white;
    background-color: orangered;
}

header {
    display: flex;
    align-items: center;
    background-color: burlywood;
    height: 4rem;
    padding-left: 0.5rem;
    border-bottom:  0.05rem solid black;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

}

.crypto-image {
    width: 3rem;
    margin-right: 0.5rem;
}

h1 {
    color: white;
    font-size: 1.25rem;
    text-shadow:
		-0.02rem -0.02rem 0 black,
		0.02rem -0.02rem 0 black,
		-0.02rem 0.02rem 0 black,
		0.02rem 0.02rem 0 black;
}


.form-inputs {
    display: flex;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0;
}

.form-inputs .form-column:nth-child(2) {
    align-items: end;
}

button {
    width: 20%;
    min-width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
    justify-self: end;
    background-color: brown;
    color: white;
}

.text-input, .select-input {
    height: 2rem;
    border-radius: 0.5rem;
    border:  0.05rem solid grey;
    border-color: brown;
}

.text-input {
    background-color: lightyellow;
    padding-left: 0.5rem;
}

.select-input {
    width: 50%;
    background-color: lightyellow;
    color: brown;
    padding-left: 0.5rem;


}

.text-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, select, button {
    margin-top: 0.5rem;
}

.form-label {
    color: brown;
    font-weight: bold;
}

.radio-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: brown;
    font-size: 0.75rem;
}

.radio-input {
    margin-right: 0.3rem;
}

.radio-name {
    font-size: 0.75rem;
    font-weight: normal;
    margin-top: 0.5rem;
    color: brown;
}



.row-highlight-off:nth-child(even){
    background-color: whitesmoke;
}

.row-highlight-off:nth-child(odd){
    background-color: white;
}

@keyframes initialBackgroundEven {
    from {
      background: whitesmoke;
    }
  }

@keyframes initialBackgroundOdd {
    from {
      background: white;
    }
  }
  
@keyframes finalBackgroundEven {
    to {
        background: whitesmoke;
    }
}

@keyframes finalBackgroundOdd {
    to {
        background: white;
    }
}


.row-highlight-green:nth-child(even) {
    background-color: lightgreen;
    animation: initialBackgroundEven 0.25s forwards, finalBackgroundEven 0.25s forwards 0.5s;
}

.row-highlight-green:nth-child(odd) {
    background-color: lightgreen;
    animation: initialBackgroundOdd 0.25s forwards, finalBackgroundOdd 0.25s forwards 0.5s;
}

.row-highlight-red:nth-child(even) {
    background-color: lightcoral;
    animation: initialBackgroundEven 0.25s forwards, finalBackgroundEven 0.25s forwards 0.5s;
}

.row-highlight-red:nth-child(odd) {
    background-color: lightcoral;
    animation: initialBackgroundOdd 0.25s forwards, finalBackgroundOdd 0.25s forwards 0.5s;
}


@media only screen and (max-width: 620px) {
    th, td {
      padding: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    th, td, label, button {
        font-size: 0.7rem;

    }

    .text-input, .select-input {
        height: 1rem;
    }

    select, input, .radio-label, .radio-name{
        font-size: 0.4rem;
    }
  }


@media only screen and (max-width: 400px) {
    th, td, label, select, .radio-label, input, .radio-name{
        font-size: 0.4rem;
    }

    .form-label, button {
        font-size: 0.5rem;
    }
}