* {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(43, 43, 43);
    margin: 0;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 0.1rem;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
}

th, td {
    border:  1px solid gainsboro;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
}

th {
    color: white;
    background-color: orangered;
}

tbody tr:nth-child(even) {
    background-color: whitesmoke;
}



header {
    display: flex;
    align-items: center;
    background-color: burlywood;
    height: 4rem;
    padding-left: 0.5rem;
    border-bottom:  0.05rem solid black;
    box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

}

.crypto-image {
    width: 3rem;
    margin-right: 0.5rem;
}

h1 {
    color: white;
    font-size: 1.25rem;
    text-shadow:
		-0.02rem -0.02rem 0 black,
		0.02rem -0.02rem 0 black,
		-0.02rem 0.02rem 0 black,
		0.02rem 0.02rem 0 black;
}






.form-inputs {
    display: flex;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0;
}

.form-inputs .form-column:nth-child(2) {
    align-items: end;
}

button {
    width: 30%;
    min-width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
    justify-self: end;
}

.text-input {
    height: 2rem;
    /* width: 80%; */
    border-radius: 0.5rem;
    border:  0.05rem solid grey;

}

.search-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, select, button {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 620px) {
    th, td {
      padding: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    th, td, label, button, select {
        font-size: 0.7rem;

    }
  }


@media only screen and (max-width: 400px) {
    th, td, label, button, select {
        font-size: 0.4rem;

    }
}